video { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

/* Widgets */
section {

  text-align: right;
  /* padding-right: 1em; 
  /* margin-right: 1em; */
  /* Relative Parent. Absolute Child */
  position: relative;

/* style the text */
  font-family: RedHatDisplay-Variable, sans-serif;
  font-weight: 400;
  font-size:  1.2em;
  color: white;
  filter: drop-shadow(0 0 1em black);
}

/* Grid */
.layout {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  margin-right: 1em;
  /* grid-template-rows: 400px; */
  grid-row-gap: 0em;
 
  /* Align widgets to the right side of the screen */
  justify-items: end;
}

/* Time */
.time {
  font-size: 2.5em;
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  margin-top: 2em;
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
 margin-top: 1em;
}

.city {
  display: block;
}

.temp {
  font-size: 1.5em;
   /* Force a line break after the image */
   display: block;
}

.weather img {

}

.description{
   /* Force a line break after the image */
   display: block;
   padding-bottom: 1em;;
}

.wind{
  display: block;
}
