video { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

/* Widgets */
section {
  background: lightgray;
  text-align: right;
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

/* Grid */
.layout {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: 400px; */
  grid-row-gap: 1em;
  /* Align widgets to the right side of the screen */
  justify-items: end;
}

/* Time */
.time {
  
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
 
}

.city {
  
}

.temp {
  
}

.weather img {
  
}
